PORT=8080
JWT_SECRET=

NODE_ENV=development

#S3 Configurations
S3_BUCKET_NAME=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

#REDIS Configurations
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
IOREDIS_URL=

# DATABASE Configuration
DATABASE_URL=
NEON_API_KEY=
NEON_PROJECT_ID=